:root {
    font-family: Arial, Helvetica, sans-serif;
}

.tags-input {
    border: 3px solid;
    border-radius:2px;
    display: inline-block;
    border-color: rgba(206, 212, 218, 1)
}

.tags-input .tag {
    font-size: 85%;
    padding: 0.5em 0.75em;
    margin: 0.25em 0.1em;
    display: inline-block;
    background-color: #d1d091;
    transition: all 0.1s linear;
    cursor: pointer;
    border-radius:3px;
}

.tags-input .tag:hover {
    background-color: #dde1a3;
    color: black;
}

.tags-input .tag .close::after {
    content: '×';
    font-weight: bold;
    display: inline-block;
    transform: scale(1.4);
    margin-left: 0.75em;

}

.tags-input .tag .close:hover::after {
    color: red;
}

.tags-input .main-input {
    border: 0;
    outline: 0;
    padding: 0.5em 0.1em;
}
* {
    box-sizing: border-box;
}

body {
    font: 16px Arial;
}

/*the container must be positioned relative:*/
.autocomplete {
    position: relative;
    display: inline-block;
}

input {
    border: 1px solid transparent;
    background-color: white;
    padding: 10px;
    font-size: 16px;
    border:2px solid ;
}

#slNombreTarea {
    background-color: #f1f1f1;
    width: 100%;
}



.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        /*border-bottom: 1px solid #d4d4d4;*/
        border-radius: 2px;
    }

        /*when hovering an item:*/
        .autocomplete-items div:hover {
            background-color: #e9e9e9;
        }

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}